@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #c94f4f;
  color: #000;
  line-height: 1.6;
  overflow-y: auto;
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }

.hidden {
  display: none !important; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }

header {
  background-color: #000;
  padding: 20px;
  text-align: center; }
  header img {
    width: 200px;
    height: auto; }

button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  button:hover {
    background-color: black; }
  button.admin {
    background-color: #c94f4f;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    button.admin:hover {
      background-color: #af3636; }
  button.user {
    background-color: #c94f4f;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    button.user:hover {
      background-color: #af3636; }
  button--secondary {
    background-color: #b3b3b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    button--secondary:hover {
      background-color: #999999; }
  button__icon {
    margin-right: 10px; }

form {
  display: flex;
  flex-direction: column;
  gap: 10px; }

input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  color: #000; }

input[type="submit"],
button[type="submit"] {
  background-color: #000;
  color: #c94f4f;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; }
  input[type="submit"]:hover,
  button[type="submit"]:hover {
    background-color: black; }

.password-requirements {
  font-size: 0.9em;
  color: #000; }
  .password-requirements .requirement {
    display: flex;
    align-items: center; }
    .password-requirements .requirement .check {
      margin-right: 5px;
      color: #c94f4f; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
  .modal-content {
    padding: 20px;
    position: relative; }
    .modal-content .close-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      color: #c94f4f; }

#auth-container,
#forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  border: 2px solid #c94f4f; }

.role-selection {
  display: flex;
  gap: 10px;
  margin-bottom: 15px; }
  .role-selection .selected {
    background-color: #e7b1b1; }

.toggle-link,
.forgot-password-link {
  margin-top: 15px;
  color: #c94f4f;
  cursor: pointer;
  text-align: center; }

#admin-dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #c94f4f;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden; }
  #admin-dashboard-container h2 {
    color: #000;
    margin-bottom: 20px;
    text-align: center; }
  #admin-dashboard-container .logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer; }
    #admin-dashboard-container .logout:hover {
      color: black; }
    #admin-dashboard-container .logout i {
      font-size: 1.5rem; }
  #admin-dashboard-container .icon-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    line-height: 1;
    padding: 10px;
    background-color: rgba(179, 179, 179, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease; }
    #admin-dashboard-container .icon-container:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
    #admin-dashboard-container .icon-container img {
      width: 60px;
      height: 60px;
      margin-bottom: 10px; }
    #admin-dashboard-container .icon-container p {
      color: #000;
      font-size: 0.9rem;
      text-align: center; }
  #admin-dashboard-container #icon1 {
    top: 100px;
    left: 50px; }
  #admin-dashboard-container #icon2 {
    top: 100px;
    left: 200px; }
  #admin-dashboard-container #icon3 {
    top: 100px;
    left: 350px; }
  #admin-dashboard-container #icon4 {
    top: 250px;
    left: 50px; }
  #admin-dashboard-container #icon5 {
    top: 250px;
    left: 200px; }

.add-dish-container {
  background-color: #fff;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; }
  .add-dish-container .page-title {
    font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
    color: #c94f4f;
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center; }
  .add-dish-container form {
    display: flex;
    flex-direction: column; }
    .add-dish-container form input[type="text"],
    .add-dish-container form input[type="number"],
    .add-dish-container form textarea,
    .add-dish-container form select {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #611e1e;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #b3b3b3;
      color: #000; }
      .add-dish-container form input[type="text"]:focus,
      .add-dish-container form input[type="number"]:focus,
      .add-dish-container form textarea:focus,
      .add-dish-container form select:focus {
        border-color: #000;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    .add-dish-container form .weight-input {
      width: auto; }
    .add-dish-container form #ingredients-container {
      margin-bottom: 20px; }
      .add-dish-container form #ingredients-container .ingredients-label {
        color: #000;
        font-size: 1.2rem;
        margin-bottom: 10px; }
      .add-dish-container form #ingredients-container .ingredient-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        .add-dish-container form #ingredients-container .ingredient-group input[type="text"],
        .add-dish-container form #ingredients-container .ingredient-group input[type="number"],
        .add-dish-container form #ingredients-container .ingredient-group select {
          margin-right: 10px; }
        .add-dish-container form #ingredients-container .ingredient-group .remove-ingredient-button {
          background: none;
          border: none;
          margin-top: -15px;
          color: #e74c3c;
          cursor: pointer; }
          .add-dish-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover {
            color: #d62c1a; }
          .add-dish-container form #ingredients-container .ingredient-group .remove-ingredient-button i {
            font-size: 1.2rem; }
    .add-dish-container form #add-ingredient {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin-bottom: 20px; }
      .add-dish-container form #add-ingredient:hover {
        background-color: black; }
    .add-dish-container form #save-dish-button {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease; }
      .add-dish-container form #save-dish-button:hover {
        background-color: black; }
    .add-dish-container form #shared-by-container {
      margin-bottom: 20px; }
      .add-dish-container form #shared-by-container input[type="text"] {
        width: 100%; }
  .add-dish-container .back-button {
    position: absolute;
    top: 5px;
    right: 2%;
    border: none;
    padding: 10px;
    color: #b3b3b3;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease; }
    .add-dish-container .back-button::before {
      content: "\f053";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
  .add-dish-container .back-button:hover {
    background-color: #000; }
  .add-dish-container .edit-dish-container {
    margin-top: 20px;
    background-color: #b3b3b3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }
    .add-dish-container .edit-dish-container h4 {
      color: #000;
      font-size: 1.4rem;
      margin-bottom: 15px;
      text-align: center; }
    .add-dish-container .edit-dish-container form {
      display: flex;
      flex-direction: column; }
      .add-dish-container .edit-dish-container form label {
        font-size: 1rem;
        color: #000;
        margin-bottom: 10px; }
      .add-dish-container .edit-dish-container form select {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #611e1e;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #b3b3b3;
        color: #000; }
        .add-dish-container .edit-dish-container form select:focus {
          border-color: #000;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      .add-dish-container .edit-dish-container form #load-dish-button,
      .add-dish-container .edit-dish-container form #delete-dish-button {
        background-color: #000;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin-top: 10px; }
        .add-dish-container .edit-dish-container form #load-dish-button:hover,
        .add-dish-container .edit-dish-container form #delete-dish-button:hover {
          background-color: black; }
      .add-dish-container .edit-dish-container form #delete-dish-button {
        background-color: #e74c3c; }
        .add-dish-container .edit-dish-container form #delete-dish-button:hover {
          background-color: #d62c1a; }

.show-menu-container {
  position: relative;
  padding: 20px; }
  .show-menu-container .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px; }
  .show-menu-container .back-button {
    position: absolute;
    top: 5px;
    right: 2%;
    border: none;
    padding: 10px;
    color: #b3b3b3;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease; }
    .show-menu-container .back-button::before {
      content: "\f053";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
  .show-menu-container .back-button:hover {
    background-color: #000; }
  .show-menu-container #loading-indicator {
    display: none;
    text-align: center; }
    .show-menu-container #loading-indicator p {
      font-size: 16px;
      margin-bottom: 10px; }
    .show-menu-container #loading-indicator .spinner {
      border: 4px solid #b3b3b3;
      border-top: 4px solid #c94f4f;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  .show-menu-container #menu-list .category {
    margin-bottom: 20px; }
    .show-menu-container #menu-list .category h4 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #000; }
    .show-menu-container #menu-list .category .dish-container {
      display: flex;
      flex-direction: column;
      gap: 15px; }
      .show-menu-container #menu-list .category .dish-container .dish-card {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1px solid #b3b3b3;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 50px; }
        .show-menu-container #menu-list .category .dish-container .dish-card h5 {
          margin: 5px 20px 5px 0;
          font-weight: bold;
          color: #000;
          flex-shrink: 0;
          width: 150px;
          line-height: 1.2; }
        .show-menu-container #menu-list .category .dish-container .dish-card .ingredients {
          font-size: 14px;
          color: #b3b3b3;
          margin-right: 20px;
          flex-shrink: 0;
          width: 20%;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .show-menu-container #menu-list .category .dish-container .dish-card p {
          margin-right: 20px;
          font-size: 14px;
          color: #000;
          flex-shrink: 0; }
          .show-menu-container #menu-list .category .dish-container .dish-card p.weight {
            font-weight: bold; }
        .show-menu-container #menu-list .category .dish-container .dish-card .price-container {
          display: flex;
          align-items: center;
          margin-left: auto; }
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .price-input {
            border: 1px solid #b3b3b3;
            border-radius: 4px;
            padding: 5px;
            width: 60px; }
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .edit-button {
            background-color: #c94f4f;
            border: none;
            color: #fff;
            padding: 6px 8px;
            margin: 0 10px;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px; }
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button,
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button,
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .delete-button {
            background-color: #c94f4f;
            border: none;
            color: #fff;
            padding: 6px 8px;
            margin: 0 5px;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px; }
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button.save-button,
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button.save-button,
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .delete-button.save-button {
              background-color: #c94f4f;
              display: none; }
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button.cancel-button,
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button.cancel-button,
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .delete-button.cancel-button {
              background-color: #e74c3c;
              display: none; }
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button.delete-button,
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button.delete-button,
            .show-menu-container #menu-list .category .dish-container .dish-card .price-container .delete-button.delete-button {
              background-color: #000;
              border: none;
              padding: 10px;
              color: white;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.2s ease;
              margin-top: 10px; }
              .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button.delete-button:hover,
              .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button.delete-button:hover,
              .show-menu-container #menu-list .category .dish-container .dish-card .price-container .delete-button.delete-button:hover {
                background-color: black; }

.show-order-container {
  background-color: #b3b3b3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; }
  .show-order-container .page-title {
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-align: center; }
  .show-order-container form {
    display: flex;
    flex-direction: column; }
    .show-order-container form .container {
      margin-bottom: 15px; }
      .show-order-container form .container label {
        font-size: 1rem;
        color: #000;
        margin-bottom: 5px;
        display: block; }
      .show-order-container form .container input[type="text"],
      .show-order-container form .container input[type="number"],
      .show-order-container form .container input[type="tel"],
      .show-order-container form .container input[type="date"],
      .show-order-container form .container select {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #611e1e;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #b3b3b3;
        color: #000; }
        .show-order-container form .container input[type="text"]:focus,
        .show-order-container form .container input[type="number"]:focus,
        .show-order-container form .container input[type="tel"]:focus,
        .show-order-container form .container input[type="date"]:focus,
        .show-order-container form .container select:focus {
          border-color: #000;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      .show-order-container form .container span {
        margin-left: 5px;
        font-size: 1rem;
        color: #000; }
    .show-order-container form h4 {
      color: #000;
      font-size: 1.4rem;
      margin-bottom: 10px; }
    .show-order-container form #order-blank,
    .show-order-container form #additional-services {
      margin-bottom: 20px;
      background-color: #e6e6e6;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #611e1e;
      min-height: 50px; }
    .show-order-container form #add-dish-to-order,
    .show-order-container form #add-service {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin-bottom: 20px; }
      .show-order-container form #add-dish-to-order:hover,
      .show-order-container form #add-service:hover {
        background-color: black; }
    .show-order-container form #print-order,
    .show-order-container form #save-order,
    .show-order-container form .back-button {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin-right: 10px; }
      .show-order-container form #print-order:hover,
      .show-order-container form #save-order:hover,
      .show-order-container form .back-button:hover {
        background-color: black; }
    .show-order-container form .back-button {
      background-color: #b3b3b3; }
      .show-order-container form .back-button:hover {
        background-color: #999999; }
  .show-order-container #load-order-form {
    margin-top: 20px; }
    .show-order-container #load-order-form label {
      font-size: 1rem;
      color: #000;
      margin-bottom: 5px;
      display: block; }
    .show-order-container #load-order-form input[type="date"] {
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #611e1e;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #b3b3b3;
      color: #000; }
      .show-order-container #load-order-form input[type="date"]:focus {
        border-color: #000;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    .show-order-container #load-order-form #load-order-button {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin-top: 10px; }
      .show-order-container #load-order-form #load-order-button:hover {
        background-color: black; }
  .show-order-container #print-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); }
    .show-order-container #print-modal .modal-content {
      background-color: white;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #611e1e;
      border-radius: 10px;
      width: 80%;
      max-width: 600px;
      position: relative; }
    .show-order-container #print-modal .modal-close-button {
      position: absolute;
      top: 10px;
      right: 15px;
      color: #000;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer; }
      .show-order-container #print-modal .modal-close-button:hover {
        color: #e74c3c; }
    .show-order-container #print-modal #confirm-print {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      display: block;
      margin: 20px auto 0;
      width: 100px; }
      .show-order-container #print-modal #confirm-print:hover {
        background-color: black; }

/*# sourceMappingURL=main.css.map */
