@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #c94f4f;
  color: #000;
  line-height: 1.6;
  overflow-y: auto;
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer; }

.hidden {
  display: none !important; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; }

header {
  background-color: #000;
  padding: 20px;
  text-align: center; }
  header svg {
    width: 200px;
    height: auto; }
  header #logo path:nth-child(1),
  header #logo path:nth-child(2),
  header #logo path:nth-child(3),
  header #logo path:nth-child(4) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px; }
  header #logo path:nth-child(1) {
    animation: anim-logo 2s ease forwards 0.3s; }
  header #logo path:nth-child(2) {
    animation: anim-logo 2s ease forwards 0.6s; }
  header #logo path:nth-child(3) {
    animation: anim-logo 2s ease forwards 0.9s; }
  header #logo path:nth-child(4) {
    animation: anim-logo 2s ease forwards 1.2s; }
@keyframes anim-logo {
  to {
    stroke-dashoffset: 0; } }
button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; }
  button:hover {
    background-color: black; }
  button.admin {
    background-color: #c94f4f;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    button.admin:hover {
      background-color: #af3636; }
  button.user {
    background-color: #c94f4f;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    button.user:hover {
      background-color: #af3636; }
  button--secondary {
    background-color: #b3b3b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    button--secondary:hover {
      background-color: #999999; }
  button__icon {
    margin-right: 10px; }
  button.close-button {
    margin-top: 0; }

form {
  display: flex;
  flex-direction: column;
  gap: 10px; }

input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
  color: #000; }

input[type="submit"],
button[type="submit"] {
  background-color: #000;
  color: #c94f4f;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; }
  input[type="submit"]:hover,
  button[type="submit"]:hover {
    background-color: black; }

.password-requirements {
  font-size: 0.9em;
  color: #000; }
  .password-requirements .requirement {
    display: flex;
    align-items: center; }
    .password-requirements .requirement .check {
      margin-right: 5px;
      color: #c94f4f; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
  .modal-content {
    padding: 20px;
    position: relative; }
    .modal-content .close-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      color: #c94f4f; }

.show-order-container #print-modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .show-order-container #print-modal .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #611e1e;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative; }
  .show-order-container #print-modal .modal-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer; }
    .show-order-container #print-modal .modal-close-button:hover {
      color: #c94f4f; }
  .show-order-container #print-modal #confirm-print {
    background-color: #000;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: block;
    margin: 20px auto 0;
    width: 100px; }
    .show-order-container #print-modal #confirm-print:hover {
      background-color: black; }

#auth-container,
#forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  border: 2px solid #c94f4f; }

.role-selection {
  display: flex;
  gap: 10px;
  margin-bottom: 15px; }
  .role-selection .selected {
    background-color: #e7b1b1; }

.toggle-link,
.forgot-password-link {
  margin-top: 15px;
  color: #c94f4f;
  cursor: pointer;
  text-align: center; }

#admin-dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #c94f4f;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden; }
  #admin-dashboard-container h2 {
    color: #000;
    margin-bottom: 20px;
    text-align: center; }
  #admin-dashboard-container .logout {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer; }
    #admin-dashboard-container .logout:hover {
      color: black; }
    #admin-dashboard-container .logout i {
      font-size: 1.5rem; }
  #admin-dashboard-container .icon-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    line-height: 1;
    padding: 10px;
    background-color: rgba(179, 179, 179, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease; }
    #admin-dashboard-container .icon-container:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
    #admin-dashboard-container .icon-container img {
      width: 60px;
      height: 60px;
      margin-bottom: 10px; }
    #admin-dashboard-container .icon-container p {
      color: #000;
      font-size: 0.9rem;
      text-align: center; }
  #admin-dashboard-container #icon1 {
    top: 100px;
    left: 50px; }
  #admin-dashboard-container #icon2 {
    top: 100px;
    left: 200px; }
  #admin-dashboard-container #icon3 {
    top: 100px;
    left: 350px; }
  #admin-dashboard-container #icon4 {
    top: 100px;
    left: 500px; }
  #admin-dashboard-container #icon5 {
    top: 100px;
    left: 650px; }

.add-dish-container,
.show-menu-container,
.show-order-container,
.calculation-form-container,
.show-suppliers-container,
.add-suppliers-form-container,
.edit-suppliers-form-container {
  background-color: #fff;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; }
  .add-dish-container .page-title,
  .show-menu-container .page-title,
  .show-order-container .page-title,
  .calculation-form-container .page-title,
  .show-suppliers-container .page-title,
  .add-suppliers-form-container .page-title,
  .edit-suppliers-form-container .page-title {
    font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
    color: #c94f4f;
    font-size: 2.1rem;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center; }
  .add-dish-container form,
  .show-menu-container form,
  .show-order-container form,
  .calculation-form-container form,
  .show-suppliers-container form,
  .add-suppliers-form-container form,
  .edit-suppliers-form-container form {
    display: flex;
    flex-direction: column; }
    .add-dish-container form input[type="text"],
    .add-dish-container form input[type="number"],
    .add-dish-container form textarea,
    .add-dish-container form select,
    .show-menu-container form input[type="text"],
    .show-menu-container form input[type="number"],
    .show-menu-container form textarea,
    .show-menu-container form select,
    .show-order-container form input[type="text"],
    .show-order-container form input[type="number"],
    .show-order-container form textarea,
    .show-order-container form select,
    .calculation-form-container form input[type="text"],
    .calculation-form-container form input[type="number"],
    .calculation-form-container form textarea,
    .calculation-form-container form select,
    .show-suppliers-container form input[type="text"],
    .show-suppliers-container form input[type="number"],
    .show-suppliers-container form textarea,
    .show-suppliers-container form select,
    .add-suppliers-form-container form input[type="text"],
    .add-suppliers-form-container form input[type="number"],
    .add-suppliers-form-container form textarea,
    .add-suppliers-form-container form select,
    .edit-suppliers-form-container form input[type="text"],
    .edit-suppliers-form-container form input[type="number"],
    .edit-suppliers-form-container form textarea,
    .edit-suppliers-form-container form select {
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #611e1e;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #b3b3b3;
      color: #000; }
      .add-dish-container form input[type="text"]:focus,
      .add-dish-container form input[type="number"]:focus,
      .add-dish-container form textarea:focus,
      .add-dish-container form select:focus,
      .show-menu-container form input[type="text"]:focus,
      .show-menu-container form input[type="number"]:focus,
      .show-menu-container form textarea:focus,
      .show-menu-container form select:focus,
      .show-order-container form input[type="text"]:focus,
      .show-order-container form input[type="number"]:focus,
      .show-order-container form textarea:focus,
      .show-order-container form select:focus,
      .calculation-form-container form input[type="text"]:focus,
      .calculation-form-container form input[type="number"]:focus,
      .calculation-form-container form textarea:focus,
      .calculation-form-container form select:focus,
      .show-suppliers-container form input[type="text"]:focus,
      .show-suppliers-container form input[type="number"]:focus,
      .show-suppliers-container form textarea:focus,
      .show-suppliers-container form select:focus,
      .add-suppliers-form-container form input[type="text"]:focus,
      .add-suppliers-form-container form input[type="number"]:focus,
      .add-suppliers-form-container form textarea:focus,
      .add-suppliers-form-container form select:focus,
      .edit-suppliers-form-container form input[type="text"]:focus,
      .edit-suppliers-form-container form input[type="number"]:focus,
      .edit-suppliers-form-container form textarea:focus,
      .edit-suppliers-form-container form select:focus {
        border-color: #000;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    .add-dish-container form .weight-input,
    .show-menu-container form .weight-input,
    .show-order-container form .weight-input,
    .calculation-form-container form .weight-input,
    .show-suppliers-container form .weight-input,
    .add-suppliers-form-container form .weight-input,
    .edit-suppliers-form-container form .weight-input {
      width: auto; }
    .add-dish-container form #ingredients-container,
    .show-menu-container form #ingredients-container,
    .show-order-container form #ingredients-container,
    .calculation-form-container form #ingredients-container,
    .show-suppliers-container form #ingredients-container,
    .add-suppliers-form-container form #ingredients-container,
    .edit-suppliers-form-container form #ingredients-container {
      margin-bottom: 20px; }
      .add-dish-container form #ingredients-container .ingredients-label,
      .show-menu-container form #ingredients-container .ingredients-label,
      .show-order-container form #ingredients-container .ingredients-label,
      .calculation-form-container form #ingredients-container .ingredients-label,
      .show-suppliers-container form #ingredients-container .ingredients-label,
      .add-suppliers-form-container form #ingredients-container .ingredients-label,
      .edit-suppliers-form-container form #ingredients-container .ingredients-label {
        color: #000;
        font-size: 1.2rem;
        margin-bottom: 10px; }
      .add-dish-container form #ingredients-container .ingredient-group,
      .show-menu-container form #ingredients-container .ingredient-group,
      .show-order-container form #ingredients-container .ingredient-group,
      .calculation-form-container form #ingredients-container .ingredient-group,
      .show-suppliers-container form #ingredients-container .ingredient-group,
      .add-suppliers-form-container form #ingredients-container .ingredient-group,
      .edit-suppliers-form-container form #ingredients-container .ingredient-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        .add-dish-container form #ingredients-container .ingredient-group input[type="text"],
        .add-dish-container form #ingredients-container .ingredient-group input[type="number"],
        .add-dish-container form #ingredients-container .ingredient-group select,
        .show-menu-container form #ingredients-container .ingredient-group input[type="text"],
        .show-menu-container form #ingredients-container .ingredient-group input[type="number"],
        .show-menu-container form #ingredients-container .ingredient-group select,
        .show-order-container form #ingredients-container .ingredient-group input[type="text"],
        .show-order-container form #ingredients-container .ingredient-group input[type="number"],
        .show-order-container form #ingredients-container .ingredient-group select,
        .calculation-form-container form #ingredients-container .ingredient-group input[type="text"],
        .calculation-form-container form #ingredients-container .ingredient-group input[type="number"],
        .calculation-form-container form #ingredients-container .ingredient-group select,
        .show-suppliers-container form #ingredients-container .ingredient-group input[type="text"],
        .show-suppliers-container form #ingredients-container .ingredient-group input[type="number"],
        .show-suppliers-container form #ingredients-container .ingredient-group select,
        .add-suppliers-form-container form #ingredients-container .ingredient-group input[type="text"],
        .add-suppliers-form-container form #ingredients-container .ingredient-group input[type="number"],
        .add-suppliers-form-container form #ingredients-container .ingredient-group select,
        .edit-suppliers-form-container form #ingredients-container .ingredient-group input[type="text"],
        .edit-suppliers-form-container form #ingredients-container .ingredient-group input[type="number"],
        .edit-suppliers-form-container form #ingredients-container .ingredient-group select {
          margin-right: 10px; }
        .add-dish-container form #ingredients-container .ingredient-group .remove-ingredient-button,
        .show-menu-container form #ingredients-container .ingredient-group .remove-ingredient-button,
        .show-order-container form #ingredients-container .ingredient-group .remove-ingredient-button,
        .calculation-form-container form #ingredients-container .ingredient-group .remove-ingredient-button,
        .show-suppliers-container form #ingredients-container .ingredient-group .remove-ingredient-button,
        .add-suppliers-form-container form #ingredients-container .ingredient-group .remove-ingredient-button,
        .edit-suppliers-form-container form #ingredients-container .ingredient-group .remove-ingredient-button {
          background: none;
          border: none;
          margin-top: -15px;
          color: #e74c3c;
          cursor: pointer; }
          .add-dish-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover,
          .show-menu-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover,
          .show-order-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover,
          .calculation-form-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover,
          .show-suppliers-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover,
          .add-suppliers-form-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover,
          .edit-suppliers-form-container form #ingredients-container .ingredient-group .remove-ingredient-button:hover {
            color: #d62c1a; }
          .add-dish-container form #ingredients-container .ingredient-group .remove-ingredient-button i,
          .show-menu-container form #ingredients-container .ingredient-group .remove-ingredient-button i,
          .show-order-container form #ingredients-container .ingredient-group .remove-ingredient-button i,
          .calculation-form-container form #ingredients-container .ingredient-group .remove-ingredient-button i,
          .show-suppliers-container form #ingredients-container .ingredient-group .remove-ingredient-button i,
          .add-suppliers-form-container form #ingredients-container .ingredient-group .remove-ingredient-button i,
          .edit-suppliers-form-container form #ingredients-container .ingredient-group .remove-ingredient-button i {
            font-size: 1.2rem; }
    .add-dish-container form #add-ingredient,
    .show-menu-container form #add-ingredient,
    .show-order-container form #add-ingredient,
    .calculation-form-container form #add-ingredient,
    .show-suppliers-container form #add-ingredient,
    .add-suppliers-form-container form #add-ingredient,
    .edit-suppliers-form-container form #add-ingredient {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      margin-bottom: 20px; }
      .add-dish-container form #add-ingredient:hover,
      .show-menu-container form #add-ingredient:hover,
      .show-order-container form #add-ingredient:hover,
      .calculation-form-container form #add-ingredient:hover,
      .show-suppliers-container form #add-ingredient:hover,
      .add-suppliers-form-container form #add-ingredient:hover,
      .edit-suppliers-form-container form #add-ingredient:hover {
        background-color: black; }
    .add-dish-container form #save-dish-button,
    .show-menu-container form #save-dish-button,
    .show-order-container form #save-dish-button,
    .calculation-form-container form #save-dish-button,
    .show-suppliers-container form #save-dish-button,
    .add-suppliers-form-container form #save-dish-button,
    .edit-suppliers-form-container form #save-dish-button {
      background-color: #000;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease; }
      .add-dish-container form #save-dish-button:hover,
      .show-menu-container form #save-dish-button:hover,
      .show-order-container form #save-dish-button:hover,
      .calculation-form-container form #save-dish-button:hover,
      .show-suppliers-container form #save-dish-button:hover,
      .add-suppliers-form-container form #save-dish-button:hover,
      .edit-suppliers-form-container form #save-dish-button:hover {
        background-color: black; }
    .add-dish-container form #shared-by-container,
    .show-menu-container form #shared-by-container,
    .show-order-container form #shared-by-container,
    .calculation-form-container form #shared-by-container,
    .show-suppliers-container form #shared-by-container,
    .add-suppliers-form-container form #shared-by-container,
    .edit-suppliers-form-container form #shared-by-container {
      margin-bottom: 20px; }
      .add-dish-container form #shared-by-container input[type="text"],
      .show-menu-container form #shared-by-container input[type="text"],
      .show-order-container form #shared-by-container input[type="text"],
      .calculation-form-container form #shared-by-container input[type="text"],
      .show-suppliers-container form #shared-by-container input[type="text"],
      .add-suppliers-form-container form #shared-by-container input[type="text"],
      .edit-suppliers-form-container form #shared-by-container input[type="text"] {
        width: 100%; }
  .add-dish-container .back-button,
  .show-menu-container .back-button,
  .show-order-container .back-button,
  .calculation-form-container .back-button,
  .show-suppliers-container .back-button,
  .add-suppliers-form-container .back-button,
  .edit-suppliers-form-container .back-button {
    position: absolute;
    top: 5px;
    right: 2%;
    border: none;
    padding: 10px;
    color: #b3b3b3;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s ease; }
    .add-dish-container .back-button::before,
    .show-menu-container .back-button::before,
    .show-order-container .back-button::before,
    .calculation-form-container .back-button::before,
    .show-suppliers-container .back-button::before,
    .add-suppliers-form-container .back-button::before,
    .edit-suppliers-form-container .back-button::before {
      content: "\f053";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; }
  .add-dish-container .back-button:hover,
  .show-menu-container .back-button:hover,
  .show-order-container .back-button:hover,
  .calculation-form-container .back-button:hover,
  .show-suppliers-container .back-button:hover,
  .add-suppliers-form-container .back-button:hover,
  .edit-suppliers-form-container .back-button:hover {
    background-color: #000; }
  .add-dish-container .edit-dish-container,
  .show-menu-container .edit-dish-container,
  .show-order-container .edit-dish-container,
  .calculation-form-container .edit-dish-container,
  .show-suppliers-container .edit-dish-container,
  .add-suppliers-form-container .edit-dish-container,
  .edit-suppliers-form-container .edit-dish-container {
    margin-top: 20px;
    background-color: #b3b3b3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }
    .add-dish-container .edit-dish-container h4,
    .show-menu-container .edit-dish-container h4,
    .show-order-container .edit-dish-container h4,
    .calculation-form-container .edit-dish-container h4,
    .show-suppliers-container .edit-dish-container h4,
    .add-suppliers-form-container .edit-dish-container h4,
    .edit-suppliers-form-container .edit-dish-container h4 {
      color: #000;
      font-size: 1.4rem;
      margin-bottom: 15px;
      text-align: center; }
    .add-dish-container .edit-dish-container form,
    .show-menu-container .edit-dish-container form,
    .show-order-container .edit-dish-container form,
    .calculation-form-container .edit-dish-container form,
    .show-suppliers-container .edit-dish-container form,
    .add-suppliers-form-container .edit-dish-container form,
    .edit-suppliers-form-container .edit-dish-container form {
      display: flex;
      flex-direction: column; }
      .add-dish-container .edit-dish-container form label,
      .show-menu-container .edit-dish-container form label,
      .show-order-container .edit-dish-container form label,
      .calculation-form-container .edit-dish-container form label,
      .show-suppliers-container .edit-dish-container form label,
      .add-suppliers-form-container .edit-dish-container form label,
      .edit-suppliers-form-container .edit-dish-container form label {
        font-size: 1rem;
        color: #000;
        margin-bottom: 10px; }
      .add-dish-container .edit-dish-container form select,
      .show-menu-container .edit-dish-container form select,
      .show-order-container .edit-dish-container form select,
      .calculation-form-container .edit-dish-container form select,
      .show-suppliers-container .edit-dish-container form select,
      .add-suppliers-form-container .edit-dish-container form select,
      .edit-suppliers-form-container .edit-dish-container form select {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #611e1e;
        border-radius: 5px;
        font-size: 1rem;
        background-color: #b3b3b3;
        color: #000; }
        .add-dish-container .edit-dish-container form select:focus,
        .show-menu-container .edit-dish-container form select:focus,
        .show-order-container .edit-dish-container form select:focus,
        .calculation-form-container .edit-dish-container form select:focus,
        .show-suppliers-container .edit-dish-container form select:focus,
        .add-suppliers-form-container .edit-dish-container form select:focus,
        .edit-suppliers-form-container .edit-dish-container form select:focus {
          border-color: #000;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      .add-dish-container .edit-dish-container form #load-dish-button,
      .add-dish-container .edit-dish-container form #delete-dish-button,
      .show-menu-container .edit-dish-container form #load-dish-button,
      .show-menu-container .edit-dish-container form #delete-dish-button,
      .show-order-container .edit-dish-container form #load-dish-button,
      .show-order-container .edit-dish-container form #delete-dish-button,
      .calculation-form-container .edit-dish-container form #load-dish-button,
      .calculation-form-container .edit-dish-container form #delete-dish-button,
      .show-suppliers-container .edit-dish-container form #load-dish-button,
      .show-suppliers-container .edit-dish-container form #delete-dish-button,
      .add-suppliers-form-container .edit-dish-container form #load-dish-button,
      .add-suppliers-form-container .edit-dish-container form #delete-dish-button,
      .edit-suppliers-form-container .edit-dish-container form #load-dish-button,
      .edit-suppliers-form-container .edit-dish-container form #delete-dish-button {
        background-color: #000;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin-top: 10px; }
        .add-dish-container .edit-dish-container form #load-dish-button:hover,
        .add-dish-container .edit-dish-container form #delete-dish-button:hover,
        .show-menu-container .edit-dish-container form #load-dish-button:hover,
        .show-menu-container .edit-dish-container form #delete-dish-button:hover,
        .show-order-container .edit-dish-container form #load-dish-button:hover,
        .show-order-container .edit-dish-container form #delete-dish-button:hover,
        .calculation-form-container .edit-dish-container form #load-dish-button:hover,
        .calculation-form-container .edit-dish-container form #delete-dish-button:hover,
        .show-suppliers-container .edit-dish-container form #load-dish-button:hover,
        .show-suppliers-container .edit-dish-container form #delete-dish-button:hover,
        .add-suppliers-form-container .edit-dish-container form #load-dish-button:hover,
        .add-suppliers-form-container .edit-dish-container form #delete-dish-button:hover,
        .edit-suppliers-form-container .edit-dish-container form #load-dish-button:hover,
        .edit-suppliers-form-container .edit-dish-container form #delete-dish-button:hover {
          background-color: black; }
      .add-dish-container .edit-dish-container form #delete-dish-button,
      .show-menu-container .edit-dish-container form #delete-dish-button,
      .show-order-container .edit-dish-container form #delete-dish-button,
      .calculation-form-container .edit-dish-container form #delete-dish-button,
      .show-suppliers-container .edit-dish-container form #delete-dish-button,
      .add-suppliers-form-container .edit-dish-container form #delete-dish-button,
      .edit-suppliers-form-container .edit-dish-container form #delete-dish-button {
        background-color: #e74c3c; }
        .add-dish-container .edit-dish-container form #delete-dish-button:hover,
        .show-menu-container .edit-dish-container form #delete-dish-button:hover,
        .show-order-container .edit-dish-container form #delete-dish-button:hover,
        .calculation-form-container .edit-dish-container form #delete-dish-button:hover,
        .show-suppliers-container .edit-dish-container form #delete-dish-button:hover,
        .add-suppliers-form-container .edit-dish-container form #delete-dish-button:hover,
        .edit-suppliers-form-container .edit-dish-container form #delete-dish-button:hover {
          background-color: #d62c1a; }

.show-menu-container #loading-indicator {
  display: none;
  text-align: center; }
  .show-menu-container #loading-indicator p {
    font-size: 16px;
    margin-bottom: 10px; }
  .show-menu-container #loading-indicator .spinner {
    border: 4px solid #b3b3b3;
    border-top: 4px solid #c94f4f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.show-menu-container #menu-list .category {
  margin-bottom: 10px; }
  .show-menu-container #menu-list .category h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #000; }
  .show-menu-container #menu-list .category .dish-container {
    display: flex;
    flex-direction: column;
    gap: 15px; }
    .show-menu-container #menu-list .category .dish-container .dish-card {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid #b3b3b3;
      border-radius: 8px;
      padding: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 50px; }
      .show-menu-container #menu-list .category .dish-container .dish-card h5 {
        font-weight: bold;
        margin-right: 20px;
        color: #000;
        line-height: 1.2;
        flex-shrink: 0;
        width: 150px; }
      .show-menu-container #menu-list .category .dish-container .dish-card .ingredients {
        font-size: 14px;
        color: #b3b3b3;
        margin-right: 10px;
        flex-shrink: 1;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .show-menu-container #menu-list .category .dish-container .dish-card p {
        margin-right: 10px;
        font-size: 14px;
        color: #000;
        flex-shrink: 0; }
        .show-menu-container #menu-list .category .dish-container .dish-card p.weight {
          font-weight: bold; }
      .show-menu-container #menu-list .category .dish-container .dish-card .price-container {
        display: flex;
        align-items: center;
        margin-left: auto; }
        .show-menu-container #menu-list .category .dish-container .dish-card .price-container .price-input {
          border: 1px solid #b3b3b3;
          border-radius: 4px;
          padding: 5px;
          width: 60px; }
        .show-menu-container #menu-list .category .dish-container .dish-card .price-container .edit-button {
          background-color: #b3b3b3;
          border: none;
          color: #fff;
          padding: 3px;
          margin: 0 5px;
          border-radius: 3px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px; }
        .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button,
        .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button {
          background-color: #b3b3b3;
          border: none;
          color: #fff;
          padding: 3px;
          margin: 0 5px;
          border-radius: 3px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px; }
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button.save-button,
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button.save-button {
            background-color: #b3b3b3;
            display: none; }
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .save-button.cancel-button,
          .show-menu-container #menu-list .category .dish-container .dish-card .price-container .cancel-button.cancel-button {
            background-color: #e74c3c;
            display: none; }
      .show-menu-container #menu-list .category .dish-container .dish-card .delete-button {
        background: none;
        border: none;
        padding: 10px;
        color: #c94f4f;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease; }
        .show-menu-container #menu-list .category .dish-container .dish-card .delete-button:hover {
          color: #af3636; }

.show-order-container form {
  display: flex;
  flex-direction: column; }
  .show-order-container form .order-properties-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; }
    .show-order-container form .order-properties-container label {
      display: inline;
      width: 30%;
      font-size: 1rem;
      color: #000;
      margin-bottom: 5px;
      margin-top: 5px; }
    .show-order-container form .order-properties-container input[type="text"],
    .show-order-container form .order-properties-container input[type="number"],
    .show-order-container form .order-properties-container input[type="tel"],
    .show-order-container form .order-properties-container input[type="date"],
    .show-order-container form .order-properties-container textarea {
      display: inline;
      width: 60%;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #611e1e;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #b3b3b3;
      color: #000; }
      .show-order-container form .order-properties-container input[type="text"]:focus,
      .show-order-container form .order-properties-container input[type="number"]:focus,
      .show-order-container form .order-properties-container input[type="tel"]:focus,
      .show-order-container form .order-properties-container input[type="date"]:focus,
      .show-order-container form .order-properties-container textarea:focus {
        border-color: #c94f4f;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
    .show-order-container form .order-properties-container textarea {
      height: 100px; }
  .show-order-container form h4 {
    color: #000;
    font-size: 1.4rem;
    margin-bottom: 10px; }
  .show-order-container form #order-blank,
  .show-order-container form #additional-services {
    margin-bottom: 20px;
    background-color: #b3b3b3;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #611e1e;
    min-height: 50px; }
  .show-order-container form label {
    font-size: 1rem;
    color: #000;
    margin-bottom: 5px; }
  .show-order-container form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #611e1e;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #b3b3b3;
    color: #000; }
    .show-order-container form select:focus {
      border-color: #c94f4f;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .show-order-container form button {
    background-color: #000;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 10px; }
    .show-order-container form button:hover {
      background-color: black; }
  .show-order-container form .back-button {
    background-color: #000;
    color: #b3b3b3; }

/*# sourceMappingURL=main.css.map */
