// variables.scss

// Цветовая палитра
$primary-color: #000;  // Черный
$secondary-color: lighten($primary-color, 70%);  // Более светлый серый
$accent-color: #c94f4f;  // Красный акцент
$border-color: darken($accent-color, 30%); // Более темный красный акцент
$background-color: #fff;  // Белый фон
$main-bg-color: #c94f4f;  // Красный акцент
$error-color: #e74c3c;  // Красный для ошибок
$text-color: $primary-color;  // Текст будет черным

// Шрифты
$font-stack: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$title: 'Cormorant', Georgia, 'Times New Roman', Times, serif;
$icon: 'Material Symbols Outlined';
$base-font-size: 16px;
