// components/buttons.scss

@import '../variables';  // Ensure access to variables

button {
    

    @include button-style($primary-color, $background-color);  // Primary button style
    margin-top: 10px;

    &.admin {
        @include button-style($accent-color, $primary-color);  // Admin button style
    }

    &.user {
        @include button-style($accent-color, $primary-color);  // User button style
    }

    &--secondary {
        @include button-style($secondary-color, $background-color);  // Secondary button style
    }

    &__icon {
        margin-right: 10px;
    }

    &.close-button {
        margin-top: 0;
    }
}
