@import '../variables';  // Ensure access to variables

form {
    display: flex;
    flex-direction: column;
    gap: $margin-small;
}

input {
    padding: $input-padding;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    background-color: $input-bg-color;
    color: $input-text-color;
    margin-bottom: $margin-small;

    &:focus {
        border-color: $input-focus-border-color;
        outline: none;
    }
}

input[type="submit"],
button[type="submit"] {
    background-color: $button-bg-color;
    color: $button-text-color;
    padding: $button-padding;
    border-radius: $button-border-radius;
    border: none;
    cursor: pointer;
    transition: background-color $transition-duration ease;
    width: 100%;

    &:hover {
        background-color: $button-hover-bg-color;
    }
}

.password-requirements {
    font-size: $font-size-small;
    color: $text-color;

    .requirement {
        display: flex;
        align-items: center;

        .check {
            margin-right: $margin-small;
            color: $accent-color;
        }
    }
}
