body {
    background: grey;
    & div.nav{
        float: left;
        background: rgb(184, 184, 184);
        width: 15em;
        margin-right: .2em;
        position: fixed;
        & ul {
            padding: .57em;
            padding-left: 1.5em;
            /* margin-left: -20px; */
            list-style: square;
            & ul {
            background: skyblue;
                & li {
                    background: yellowgreen;
                }
            }    
        }
    }
    & div.wrap {
        margin-left: 15em;
        background: darkgray;   
        & img {
            float: right;
            height: 30px;
            width: 30px;
        }
        & div.text {
            text-align: justify;
            overflow: scroll;
            overflow-x: hidden;
            overflow-y: visible;
            background: goldenrod;
            padding: .5em;
            margin-bottom: .2em;
            position: relative;
        }
    }
}