body {
    text-size-adjust: auto;

    table { background-color: blanchedalmond;
        tr td {
            @font-face {
                font-family: 'Marutya';
                src: url('Marutya.eot');
                src: url('Marutya.eot?#iefix') format('embedded-opentype'),
                    url('Marutya.woff2') format('woff2'),
                    url('Marutya.woff') format('woff'),
                    url('Marutya.ttf') format('truetype'),
                    url('Marutya.svg#Marutya') format('svg');
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }

            p.letter {
                font-family: Marutya;
                font-style: italic;
                line-height: 0.6cm;
                text-align: justify;
                text-indent: 1cm;
            }
        }
    }
}