rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Правила для коллекции 'users'
    match /users/{userId} {
      allow read, write: if request.auth != null && isAccessAllowed();
    }
    
    // Проверка доступа на основе времени создания
    function isAccessAllowed() {
      // Проверяем, что поле createdAt существует и его значение меньше 30 дней от текущего времени
      return exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && resource.data.createdAt < timestamp.now() - duration.value(30, 'd');
    }
    
    // Правила для всех других коллекций и документов
    match /{document=**} {
      allow read, write: if true; // Все другие пути заблокированы
    }
  }
}