// pages/admin-dashboard.scss

@import "../variables";

#admin-dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: lighten($accent-color, 10%);
  padding: $padding-base;
  border-radius: $border-radius;
  overflow: hidden;

  h2 {
    color: $primary-color;
    margin-bottom: $margin-base;
    text-align: center;
    font-size: $font-size-large;
  }

  // Добавляем сетку через псевдоэлемент
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; // Сетка не мешает взаимодействию с элементами
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5) 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, transparent 1px);

    // Сетка подстраивается под динамический GRID_SIZE
    background-size: $grid-size $grid-size; // Размер ячеек сетки
  }

  .icon-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 120px;
    line-height: 1;
    padding: $padding-small;
    background-color: rgba($secondary-color, 0.5);
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    cursor: move;
    transition: transform $transition-duration ease,
      box-shadow $transition-duration ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: $box-shadow-heavy;
    }

    // При перетаскивании иконки
    &.dragging {
      z-index: 1000; // Поднимаем иконку над остальными элементами
    }

    img {
      width: $icon-size-large * 2;
      height: $icon-size-large * 2;
      margin-bottom: $margin-small;
    }

    p {
      color: $primary-color;
      font-size: $font-size-small;
      text-align: center;
    }
  }

  #icon1 {
    top: 100px;
    left: 50px;
  }

  #icon2 {
    top: 100px;
    left: 200px;
  }

  #icon3 {
    top: 100px;
    left: 350px;
  }

  #icon4 {
    top: 100px;
    left: 500px;
  }

  #icon5 {
    top: 100px;
    left: 650px;
  }
}
