#admin-dashboard-content {
  position: relative;
  padding: 16px;
  background-color: #F5F0E1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  #admin-dashboard-content .add-dish-container,
  #admin-dashboard-content .show-menu-container,
  #admin-dashboard-content .show-order-container,
  #admin-dashboard-content .calculation-form-container,
  #admin-dashboard-content .show-suppliers-container,
  #admin-dashboard-content .add-suppliers-form-container,
  #admin-dashboard-content .edit-suppliers-form-container {
    position: relative;
    padding: 16px;
    background-color: #F5F0E1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px auto; }
    #admin-dashboard-content .add-dish-container .page-title,
    #admin-dashboard-content .show-menu-container .page-title,
    #admin-dashboard-content .show-order-container .page-title,
    #admin-dashboard-content .calculation-form-container .page-title,
    #admin-dashboard-content .show-suppliers-container .page-title,
    #admin-dashboard-content .add-suppliers-form-container .page-title,
    #admin-dashboard-content .edit-suppliers-form-container .page-title {
      font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
      color: #C29D6E;
      font-size: 2.1rem;
      font-weight: 900;
      margin-bottom: 16px;
      text-align: center; }
    #admin-dashboard-content .add-dish-container form,
    #admin-dashboard-content .show-menu-container form,
    #admin-dashboard-content .show-order-container form,
    #admin-dashboard-content .calculation-form-container form,
    #admin-dashboard-content .show-suppliers-container form,
    #admin-dashboard-content .add-suppliers-form-container form,
    #admin-dashboard-content .edit-suppliers-form-container form {
      display: flex;
      flex-direction: column;
      gap: 8px; }
      #admin-dashboard-content .add-dish-container form input,
      #admin-dashboard-content .add-dish-container form textarea,
      #admin-dashboard-content .add-dish-container form select,
      #admin-dashboard-content .show-menu-container form input,
      #admin-dashboard-content .show-menu-container form textarea,
      #admin-dashboard-content .show-menu-container form select,
      #admin-dashboard-content .show-order-container form input,
      #admin-dashboard-content .show-order-container form textarea,
      #admin-dashboard-content .show-order-container form select,
      #admin-dashboard-content .calculation-form-container form input,
      #admin-dashboard-content .calculation-form-container form textarea,
      #admin-dashboard-content .calculation-form-container form select,
      #admin-dashboard-content .show-suppliers-container form input,
      #admin-dashboard-content .show-suppliers-container form textarea,
      #admin-dashboard-content .show-suppliers-container form select,
      #admin-dashboard-content .add-suppliers-form-container form input,
      #admin-dashboard-content .add-suppliers-form-container form textarea,
      #admin-dashboard-content .add-suppliers-form-container form select,
      #admin-dashboard-content .edit-suppliers-form-container form input,
      #admin-dashboard-content .edit-suppliers-form-container form textarea,
      #admin-dashboard-content .edit-suppliers-form-container form select {
        margin-bottom: 8px;
        padding: 12px;
        border-radius: 4px;
        border: 1px solid #8A6E58;
        background-color: #FFFFFF;
        color: #4B3B2F; }
        #admin-dashboard-content .add-dish-container form input:focus,
        #admin-dashboard-content .add-dish-container form textarea:focus,
        #admin-dashboard-content .add-dish-container form select:focus,
        #admin-dashboard-content .show-menu-container form input:focus,
        #admin-dashboard-content .show-menu-container form textarea:focus,
        #admin-dashboard-content .show-menu-container form select:focus,
        #admin-dashboard-content .show-order-container form input:focus,
        #admin-dashboard-content .show-order-container form textarea:focus,
        #admin-dashboard-content .show-order-container form select:focus,
        #admin-dashboard-content .calculation-form-container form input:focus,
        #admin-dashboard-content .calculation-form-container form textarea:focus,
        #admin-dashboard-content .calculation-form-container form select:focus,
        #admin-dashboard-content .show-suppliers-container form input:focus,
        #admin-dashboard-content .show-suppliers-container form textarea:focus,
        #admin-dashboard-content .show-suppliers-container form select:focus,
        #admin-dashboard-content .add-suppliers-form-container form input:focus,
        #admin-dashboard-content .add-suppliers-form-container form textarea:focus,
        #admin-dashboard-content .add-suppliers-form-container form select:focus,
        #admin-dashboard-content .edit-suppliers-form-container form input:focus,
        #admin-dashboard-content .edit-suppliers-form-container form textarea:focus,
        #admin-dashboard-content .edit-suppliers-form-container form select:focus {
          border-color: #C29D6E;
          outline: none; }
      #admin-dashboard-content .add-dish-container form .weight-input,
      #admin-dashboard-content .show-menu-container form .weight-input,
      #admin-dashboard-content .show-order-container form .weight-input,
      #admin-dashboard-content .calculation-form-container form .weight-input,
      #admin-dashboard-content .show-suppliers-container form .weight-input,
      #admin-dashboard-content .add-suppliers-form-container form .weight-input,
      #admin-dashboard-content .edit-suppliers-form-container form .weight-input {
        width: 100px; }
    #admin-dashboard-content .add-dish-container .edit-dish-container,
    #admin-dashboard-content .show-menu-container .edit-dish-container,
    #admin-dashboard-content .show-order-container .edit-dish-container,
    #admin-dashboard-content .calculation-form-container .edit-dish-container,
    #admin-dashboard-content .show-suppliers-container .edit-dish-container,
    #admin-dashboard-content .add-suppliers-form-container .edit-dish-container,
    #admin-dashboard-content .edit-suppliers-form-container .edit-dish-container {
      margin-top: 16px; }
      #admin-dashboard-content .add-dish-container .edit-dish-container h4,
      #admin-dashboard-content .show-menu-container .edit-dish-container h4,
      #admin-dashboard-content .show-order-container .edit-dish-container h4,
      #admin-dashboard-content .calculation-form-container .edit-dish-container h4,
      #admin-dashboard-content .show-suppliers-container .edit-dish-container h4,
      #admin-dashboard-content .add-suppliers-form-container .edit-dish-container h4,
      #admin-dashboard-content .edit-suppliers-form-container .edit-dish-container h4 {
        color: #4B3B2F; }
      #admin-dashboard-content .add-dish-container .edit-dish-container select,
      #admin-dashboard-content .show-menu-container .edit-dish-container select,
      #admin-dashboard-content .show-order-container .edit-dish-container select,
      #admin-dashboard-content .calculation-form-container .edit-dish-container select,
      #admin-dashboard-content .show-suppliers-container .edit-dish-container select,
      #admin-dashboard-content .add-suppliers-form-container .edit-dish-container select,
      #admin-dashboard-content .edit-suppliers-form-container .edit-dish-container select {
        width: 100%; }
  #admin-dashboard-content .show-menu-container #loading-indicator {
    display: none;
    text-align: center; }
    #admin-dashboard-content .show-menu-container #loading-indicator p {
      font-size: 16px;
      margin-bottom: 8px; }
    #admin-dashboard-content .show-menu-container #loading-indicator .spinner {
      border: 4px solid #D4A373;
      border-top: 4px solid #C29D6E;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      animation: spin 1s linear infinite; }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  #admin-dashboard-content .show-menu-container #menu-list .category {
    margin-bottom: 8px; }
    #admin-dashboard-content .show-menu-container #menu-list .category h4 {
      font-size: 18px;
      font-weight: bold;
      margin: 5px 0;
      color: #2F241D; }
    #admin-dashboard-content .show-menu-container #menu-list .category .dish-container {
      display: flex;
      flex-direction: column;
      gap: 16px; }
      #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card {
        display: flex;
        align-items: center;
        background-color: #F5F0E1;
        border: 1px solid #D4A373;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 50px; }
        #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card h5 {
          font-weight: bold;
          margin-right: 16px;
          color: #2F241D;
          line-height: 1.2;
          flex-shrink: 0;
          width: 150px; }
        #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card .ingredients {
          font-size: 14px;
          color: #D4A373;
          margin-right: 8px;
          flex-shrink: 1;
          width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card p {
          margin-right: 8px;
          font-size: 14px;
          color: #2F241D;
          flex-shrink: 0; }
          #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card p.weight {
            font-weight: bold; }
        #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card .price-container {
          display: flex;
          align-items: center;
          margin-left: auto; }
          #admin-dashboard-content .show-menu-container #menu-list .category .dish-container .dish-card .price-container .price-input {
            border: 1px solid #D4A373;
            border-radius: 8px;
            padding: 8px;
            width: 60px; }
  #admin-dashboard-content .show-order-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    background-color: #F5F0E1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto; }
    #admin-dashboard-content .show-order-container form .order-properties-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px; }
      #admin-dashboard-content .show-order-container form .order-properties-container .property {
        display: flex; }
        #admin-dashboard-content .show-order-container form .order-properties-container .property label {
          display: inline;
          width: 200px;
          font-size: 14px;
          color: #2F241D;
          margin-bottom: 8px;
          margin-top: 8px; }
        #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="text"],
        #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="number"],
        #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="tel"],
        #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="date"],
        #admin-dashboard-content .show-order-container form .order-properties-container .property textarea {
          display: inline;
          width: 100%;
          padding: 8px;
          margin-bottom: 8px;
          border: 1px solid #8A6E58;
          border-radius: 8px;
          font-size: 16px;
          background-color: #D4A373;
          color: #2F241D; }
          #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="text"]:focus,
          #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="number"]:focus,
          #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="tel"]:focus,
          #admin-dashboard-content .show-order-container form .order-properties-container .property input[type="date"]:focus,
          #admin-dashboard-content .show-order-container form .order-properties-container .property textarea:focus {
            border-color: #C29D6E;
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
        #admin-dashboard-content .show-order-container form .order-properties-container .property textarea {
          height: 100px; }
  #admin-dashboard-content .show-order-container h4 {
    color: #4B3B2F;
    font-size: 18px;
    margin-top: 16px; }
  #admin-dashboard-content .show-order-container #order-blank,
  #admin-dashboard-content .show-order-container #additional-services {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    background-color: #D4A373;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #8A6E58; }
    #admin-dashboard-content .show-order-container #order-blank h3,
    #admin-dashboard-content .show-order-container #additional-services h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 5px 0;
      color: #2F241D; }
    #admin-dashboard-content .show-order-container #order-blank .dish-card,
    #admin-dashboard-content .show-order-container #order-blank .service,
    #admin-dashboard-content .show-order-container #additional-services .dish-card,
    #admin-dashboard-content .show-order-container #additional-services .service {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #F5F0E1;
      border: 1px solid #D4A373;
      border-radius: 8px;
      padding: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 50px; }
      #admin-dashboard-content .show-order-container #order-blank .dish-card p,
      #admin-dashboard-content .show-order-container #order-blank .service p,
      #admin-dashboard-content .show-order-container #additional-services .dish-card p,
      #admin-dashboard-content .show-order-container #additional-services .service p {
        font-size: 14px;
        font-weight: bold;
        margin: 0 16px;
        color: #2F241D;
        line-height: 1.2;
        flex-shrink: 0;
        width: 200px; }
      #admin-dashboard-content .show-order-container #order-blank .dish-card input[type="text"],
      #admin-dashboard-content .show-order-container #order-blank .service input[type="text"],
      #admin-dashboard-content .show-order-container #additional-services .dish-card input[type="text"],
      #admin-dashboard-content .show-order-container #additional-services .service input[type="text"] {
        width: auto;
        margin: 0 8px;
        line-height: 1.2; }
      #admin-dashboard-content .show-order-container #order-blank .dish-card input[type="number"],
      #admin-dashboard-content .show-order-container #order-blank .service input[type="number"],
      #admin-dashboard-content .show-order-container #additional-services .dish-card input[type="number"],
      #admin-dashboard-content .show-order-container #additional-services .service input[type="number"] {
        width: 80px;
        margin-right: 16px;
        margin-bottom: 0;
        line-height: 1.2; }
      #admin-dashboard-content .show-order-container #order-blank .dish-card span,
      #admin-dashboard-content .show-order-container #order-blank .service span,
      #admin-dashboard-content .show-order-container #additional-services .dish-card span,
      #admin-dashboard-content .show-order-container #additional-services .service span {
        margin-right: 8px; }
  #admin-dashboard-content .show-order-container label {
    font-size: 16px;
    color: #2F241D;
    margin-bottom: 8px; }
  #admin-dashboard-content .show-order-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #8A6E58;
    border-radius: 8px;
    font-size: 16px;
    background-color: #D4A373;
    color: #2F241D; }
    #admin-dashboard-content .show-order-container select:focus {
      border-color: #C29D6E;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  #admin-dashboard-content .show-suppliers-container #supplier-list,
  #admin-dashboard-content .add-suppliers-form-container #supplier-list,
  #admin-dashboard-content .edit-suppliers-form-container #supplier-list {
    display: flex;
    justify-content: space-evenly; }
    #admin-dashboard-content .show-suppliers-container #supplier-list .supplier-item,
    #admin-dashboard-content .add-suppliers-form-container #supplier-list .supplier-item,
    #admin-dashboard-content .edit-suppliers-form-container #supplier-list .supplier-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      min-width: 200px;
      min-height: 150px;
      transition: transform 0.3s ease, box-shadow 0.3s ease; }
      #admin-dashboard-content .show-suppliers-container #supplier-list .supplier-item:hover,
      #admin-dashboard-content .add-suppliers-form-container #supplier-list .supplier-item:hover,
      #admin-dashboard-content .edit-suppliers-form-container #supplier-list .supplier-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }
      #admin-dashboard-content .show-suppliers-container #supplier-list .supplier-item .delete-button,
      #admin-dashboard-content .add-suppliers-form-container #supplier-list .supplier-item .delete-button,
      #admin-dashboard-content .edit-suppliers-form-container #supplier-list .supplier-item .delete-button {
        display: inline; }

/*# sourceMappingURL=admin.css.map */
