@import '../variables';

#admin-dashboard-content {
    position: relative;
    padding: $padding-base;
    background-color: $background-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;

    .add-dish-container,
    .show-menu-container,
    .show-order-container,
    .calculation-form-container,
    .show-suppliers-container,
    .add-suppliers-form-container,
    .edit-suppliers-form-container {
        position: relative;
        padding: $padding-base;
        background-color: $background-color;
        border-radius: $border-radius;
        box-shadow: $box-shadow-light;
        margin: $margin-base auto;

        .page-title {
            font-family: $font-family-heading;
            color: $accent-color;
            font-size: 2.1rem;
            font-weight: 900;
            margin-bottom: $margin-base;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: $margin-small;

            input,
            textarea,
            select {
                margin-bottom: $margin-small;
                padding: $input-padding;
                border-radius: $input-border-radius;
                border: 1px solid $input-border-color;
                background-color: $input-bg-color;
                color: $input-text-color;

                &:focus {
                    border-color: $input-focus-border-color;
                    outline: none;
                }
            }

            .weight-input {
                width: 100px;
            }

        }

        .edit-dish-container {
            margin-top: $margin-base;

            h4 {
                color: $primary-color;
            }

            select {
                width: 100%;
            }
        }
    }

    .show-menu-container {

        // Индикатор загрузки
        #loading-indicator {
            display: none; // Скрыт по умолчанию
            text-align: center;

            p {
                font-size: $font-size-base;
                margin-bottom: $margin-small;
            }

            .spinner {
                border: 4px solid $secondary-color; // Светло-серый
                border-top: 4px solid $accent-color; // Красный
                border-radius: 50%;
                width: $icon-size-base;
                height: $icon-size-base;
                animation: spin 1s linear infinite;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        // Стили списка меню
        #menu-list {
            .category {
                margin-bottom: $margin-small;

                h4 {
                    font-size: $font-size-large;
                    font-weight: bold;
                    margin: 5px 0;
                    color: $text-color;
                }

                .dish-container {
                    display: flex;
                    flex-direction: column;
                    gap: $padding-base;

                    .dish-card {
                        display: flex;
                        align-items: center;
                        background-color: $background-color;
                        border: 1px solid $secondary-color;
                        border-radius: $border-radius;
                        padding: $padding-small;
                        box-shadow: $box-shadow-light;
                        width: 100%;
                        height: 50px; // Максимальная высота

                        h5 {
                            font-weight: bold;
                            margin-right: $margin-base;
                            color: $text-color;
                            line-height: 1.2;
                            flex-shrink: 0;
                            width: 150px; // Фиксированная ширина
                        }

                        .ingredients {
                            font-size: $font-size-small;
                            color: $secondary-color;
                            margin-right: $margin-small;
                            flex-shrink: 1;
                            width: 200px; // Фиксированная ширина
                            white-space: nowrap; // Запрещает перенос слов
                            overflow: hidden;
                            text-overflow: ellipsis; // Добавляет "..." для длинного текста
                        }

                        p {
                            margin-right: $margin-small;
                            font-size: $font-size-small;
                            color: $text-color;
                            flex-shrink: 0;

                            &.weight {
                                font-weight: bold;
                            }
                        }

                        .price-container {
                            display: flex;
                            align-items: center;
                            margin-left: auto; // Выравнивает контейнер вправо

                            .price-input {
                                border: 1px solid $secondary-color;
                                border-radius: $border-radius;
                                padding: $padding-small;
                                width: 60px;
                            }
                        }
                    }
                }
            }
        }
    }

    .show-order-container {

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: $padding-base; // Добавлен отступ для формы
            background-color: $background-color;
            border-radius: $border-radius;
            box-shadow: $box-shadow-light;
            width: 100%;
            margin: 0 auto;

            .order-properties-container {
                display: flex;
                flex-direction: column;
                margin-bottom: $margin-small;

                .property {
                    display: flex;

                    label {
                        display: inline;
                        width: 200px;
                        font-size: $font-size-small;
                        color: $text-color;
                        margin-bottom: $margin-small;
                        margin-top: $margin-small;
                    }

                    input[type="text"],
                    input[type="number"],
                    input[type="tel"],
                    input[type="date"],
                    textarea {
                        display: inline;
                        width: 100%; // Ширина 100% для инпутов
                        padding: $padding-small;
                        margin-bottom: $margin-small;
                        border: 1px solid $border-color;
                        border-radius: $border-radius;
                        font-size: $font-size-base;
                        background-color: $secondary-color;
                        color: $text-color;

                        &:focus {
                            border-color: $accent-color;
                            outline: none;
                            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                        }
                    }

                    textarea {
                        height: 100px;
                    }
                }
            }
        }

        h4 {
            color: $primary-color;
            font-size: $font-size-large;
            margin-top: $margin-base;
        }

        #order-blank,
        #additional-services {
            display: flex;
            flex-direction: column;
            margin-bottom: $margin-large;
            background-color: $secondary-color;
            padding: $padding-base;
            border-radius: $border-radius;
            border: 1px solid $border-color;

            h3 {
                font-size: $font-size-large;
                font-weight: bold;
                margin: 5px 0;
                color: $text-color;
            }

            .dish-card,
            .service {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $background-color;
                border: 1px solid $secondary-color;
                border-radius: $border-radius;
                padding: $padding-small;
                box-shadow: $box-shadow-light;
                width: 100%;
                height: 50px; // Максимальная высота

                p {
                    font-size: $font-size-small;
                    font-weight: bold;
                    margin: 0 $margin-base;
                    color: $text-color;
                    line-height: 1.2;
                    flex-shrink: 0;
                    width: 200px;
                }

                input[type="text"] {
                    width: auto;
                    margin: 0 $margin-small;
                    line-height: 1.2;
                }

                input[type="number"] {
                    width: 80px;
                    margin-right: $margin-base;
                    margin-bottom: 0;
                    line-height: 1.2;
                }

                span {
                    margin-right: $margin-small;
                }
            }
        }

        label {
            font-size: $font-size-base;
            color: $text-color;
            margin-bottom: $margin-small;
        }

        select {
            width: 100%;
            padding: $padding-small;
            margin-bottom: $margin-base;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            font-size: $font-size-base;
            background-color: $secondary-color;
            color: $text-color;

            &:focus {
                border-color: $accent-color;
                outline: none;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .show-suppliers-container,
    .add-suppliers-form-container,
    .edit-suppliers-form-container {
        
        #supplier-list {
            display: flex;
            justify-content: space-evenly;

            .supplier-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: lighten($background-color, 20%);
                box-shadow: $box-shadow-light;
                min-width: 200px;
                min-height: 150px;
                transition: transform $transition-duration ease, box-shadow $transition-duration ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: $box-shadow-heavy;
                }

                .delete-button {
                    display: inline;
                }
            }

            
        }
    }
}