@import '../variables';  // Ensure access to variables

#auth-container,
#forgot-password-container {
    @include flex-center;
    flex-direction: column;
    margin-top: $margin-base;
    padding: $padding-base;
    background-color: $background-color;
    box-shadow: $box-shadow-light;
    border-radius: $border-radius;
    width: 90%;
    max-width: 400px;
    border: 2px solid $accent-color;
}

.role-selection {
    display: flex;
    gap: $margin-small;
    margin-bottom: $margin-base;

    .selected {
        background-color: lighten($accent-color, 25%);
    }
}

.toggle-link,
.forgot-password-link {
    margin-top: $margin-base;
    color: $accent-color;
    cursor: pointer;
    text-align: center;
}
