code {
    background-color: black;
    color: green;
    width: 400px;
    max-lines: 4;
    overflow: auto;
    display: block;
}
ul li{
    width: 350px;
    list-style: upper-roman;
    ul li {
        list-style: lower-roman;
    }
}