.main {
    min-width: 500px;
    max-width: 1220px;
}
code {
    background-color: black;
    color: green;
    width: 400px;
    height: 80px;
    overflow: auto;
    display: block;
}
ul li{
    width: 350px;
    list-style: upper-roman;
    & ul li {
        list-style: lower-roman;
    }
}