body {
  position: relative;
  font-family: "Georgia", serif;
  background: none;
  color: #2c2a49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0 auto; }

#triangleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.container {
  background-color: #ffffff;
  border: 1px solid rgba(44, 42, 73, 0.1);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%; }

#auth-container {
  text-align: center;
  position: relative;
  z-index: 1; }
  #auth-container h2 {
    color: #d4af37;
    margin-bottom: 20px; }
  #auth-container input[type="email"],
  #auth-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(44, 42, 73, 0.1);
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #auth-container input[type="email"]:focus,
    #auth-container input[type="password"]:focus {
      border-color: #d4af37;
      outline: none; }
  #auth-container button {
    background-color: #d4af37;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; }
    #auth-container button:hover {
      background-color: #b29126; }
    #auth-container button:disabled {
      background-color: #f4f4f4;
      cursor: not-allowed; }
  #auth-container button.admin.selected,
  #auth-container button.user.selected {
    background-color: #2c2a49; }
  #auth-container .toggle-link,
  #auth-container .forgot-password-link {
    color: #d4af37;
    cursor: pointer;
    margin-top: 15px; }
    #auth-container .toggle-link:hover,
    #auth-container .forgot-password-link:hover {
      color: #b29126; }

.modal,
.print-modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10; }
  .modal .modal-content,
  .print-modal .modal-content {
    position: relative;
    background-color: #ffffff;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    .modal .modal-content .close-button,
    .modal .modal-content .modal-close-button,
    .print-modal .modal-content .close-button,
    .print-modal .modal-content .modal-close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
      color: #2c2a49; }
      .modal .modal-content .close-button:hover,
      .modal .modal-content .modal-close-button:hover,
      .print-modal .modal-content .close-button:hover,
      .print-modal .modal-content .modal-close-button:hover {
        color: #d4af37; }
    .modal .modal-content h2,
    .print-modal .modal-content h2 {
      margin-bottom: 20px; }

#admin-dashboard-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  min-height: 90vh;
  max-width: 600px; }
  #admin-dashboard-container #admin-dashboard-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 20px;
    z-index: 1;
    width: 100%;
    height: auto;
    min-height: 60vh;
    max-width: 600px; }
    #admin-dashboard-container #admin-dashboard-content .icon-container {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 140px;
      height: 140px;
      cursor: pointer;
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
      #admin-dashboard-container #admin-dashboard-content .icon-container img {
        width: 80px;
        height: 80px;
        margin-bottom: 5px; }
      #admin-dashboard-container #admin-dashboard-content .icon-container p {
        text-align: center;
        color: #2c2a49;
        font-size: 14px; }
      #admin-dashboard-container #admin-dashboard-content .icon-container:hover {
        background-color: rgba(44, 42, 73, 0.1);
        border-radius: 5px; }
    #admin-dashboard-container #admin-dashboard-content #icon1 {
      top: 30px;
      left: 30px; }
    #admin-dashboard-container #admin-dashboard-content #icon2 {
      top: 30px;
      left: 280px; }
    #admin-dashboard-container #admin-dashboard-content #icon3 {
      top: 280px;
      left: 30px; }
    #admin-dashboard-container #admin-dashboard-content #icon4 {
      top: 280px;
      left: 280px; }
    #admin-dashboard-container #admin-dashboard-content .icon-container.dragging {
      opacity: 0.7;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  #admin-dashboard-container .container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px; }
    #admin-dashboard-container .container .page-title {
      color: #d4af37;
      text-align: center;
      margin-bottom: 20px; }
    #admin-dashboard-container .container #add-dish-form #ingredients-container .ingredient-group input[type="number"] {
      width: 100px; }
    #admin-dashboard-container .container #add-dish-form #ingredients-container .ingredient-group input[type="text"] {
      width: auto; }
    #admin-dashboard-container .container #add-dish-form input[type="text"],
    #admin-dashboard-container .container #add-dish-form input[type="number"],
    #admin-dashboard-container .container #add-dish-form textarea,
    #admin-dashboard-container .container #add-dish-form select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(44, 42, 73, 0.1);
      border-radius: 5px;
      font-size: 16px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      #admin-dashboard-container .container #add-dish-form input[type="text"]:focus,
      #admin-dashboard-container .container #add-dish-form input[type="number"]:focus,
      #admin-dashboard-container .container #add-dish-form textarea:focus,
      #admin-dashboard-container .container #add-dish-form select:focus {
        border-color: #d4af37;
        outline: none; }
    #admin-dashboard-container .container #add-dish-form button {
      background-color: #d4af37;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 2px; }
      #admin-dashboard-container .container #add-dish-form button:hover {
        background-color: #b29126; }
    #admin-dashboard-container .container input[type="text"],
    #admin-dashboard-container .container input[type="number"],
    #admin-dashboard-container .container textarea,
    #admin-dashboard-container .container select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(44, 42, 73, 0.1);
      border-radius: 5px;
      font-size: 16px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      #admin-dashboard-container .container input[type="text"]:focus,
      #admin-dashboard-container .container input[type="number"]:focus,
      #admin-dashboard-container .container textarea:focus,
      #admin-dashboard-container .container select:focus {
        border-color: #d4af37;
        outline: none; }
    #admin-dashboard-container .container button {
      background-color: #d4af37;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 2px; }
      #admin-dashboard-container .container button:hover {
        background-color: #b29126; }
    #admin-dashboard-container .container ul {
      list-style: none; }
    #admin-dashboard-container .container .back-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      cursor: pointer;
      color: #2c2a49;
      background: none !important;
      border: none !important; }
      #admin-dashboard-container .container .back-button:hover {
        color: #d4af37; }
      #admin-dashboard-container .container .back-button:before {
        content: "\2716"; }
    #admin-dashboard-container .container .dish-card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border: 1px solid rgba(44, 42, 73, 0.1);
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
      #admin-dashboard-container .container .dish-card h5 {
        margin: 0;
        color: #2c2a49;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      #admin-dashboard-container .container .dish-card .ingredients {
        margin: 0 5px;
        font-size: 14px;
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #admin-dashboard-container .container .dish-card p {
        width: 100px; }
      #admin-dashboard-container .container .dish-card .price-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
        #admin-dashboard-container .container .dish-card .price-container input {
          width: 50px;
          margin-right: 5px;
          text-align: center; }
        #admin-dashboard-container .container .dish-card .price-container button {
          margin-right: 5px;
          padding: 5px 10px; }
          #admin-dashboard-container .container .dish-card .price-container button.edit-button {
            background: none;
            border: none;
            color: #d4af37;
            margin-right: 40px;
            font-size: 1.1rem; }
          #admin-dashboard-container .container .dish-card .price-container button.save-button, #admin-dashboard-container .container .dish-card .price-container button.cancel-button {
            background: none;
            border: none;
            font-size: 1.1rem; }
          #admin-dashboard-container .container .dish-card .price-container button.save-button {
            color: #d4af37; }
          #admin-dashboard-container .container .dish-card .price-container button.cancel-button {
            color: rgba(0, 0, 0, 0.4);
            margin-right: 40px; }
      #admin-dashboard-container .container .dish-card .delete-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        color: #333333;
        cursor: pointer;
        font-size: 18px; }
        #admin-dashboard-container .container .dish-card .delete-button:hover {
          color: #d4af37; }
    #admin-dashboard-container .container .spinner {
      border: 4px solid #f4f4f4;
      border-top: 4px solid #d4af37;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      -webkit-animation: spin 1s linear infinite;
              animation: spin 1s linear infinite; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
  #admin-dashboard-container button.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #2c2a49;
    background: none;
    border: none; }
    #admin-dashboard-container button.logout:hover {
      color: #d4af37; }
    #admin-dashboard-container button.logout:before {
      content: "\2716"; }

#user-dashboard-container {
  text-align: center;
  position: relative;
  z-index: 1; }
  #user-dashboard-container h2 {
    color: #d4af37;
    margin-bottom: 20px; }
  #user-dashboard-container #user-dashboard-content {
    background-color: #ffffff;
    border: 1px solid rgba(44, 42, 73, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto; }

#forgot-password-container {
  text-align: center; }
  #forgot-password-container h2 {
    color: #d4af37;
    margin-bottom: 20px; }
  #forgot-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(44, 42, 73, 0.1);
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    #forgot-password-container input[type="email"]:focus {
      border-color: #d4af37;
      outline: none; }
  #forgot-password-container button {
    background-color: #d4af37;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; }
    #forgot-password-container button:hover {
      background-color: #b29126; }
    #forgot-password-container button:disabled {
      background-color: #f4f4f4;
      cursor: not-allowed; }
  #forgot-password-container .toggle-link {
    color: #d4af37;
    cursor: pointer;
    margin-top: 15px; }
    #forgot-password-container .toggle-link:hover {
      color: #b29126; }

/*# sourceMappingURL=styles.css.map */